.hide {
  display: none;
}
.display {
  display: block;
}
.center {
  text-align: center;
}

#text {
  margin: 0;
}

body {
  background-color: #141518;
  font-family: "Overpass", sans-serif;
  margin: auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: block;
}

.star {
  border-radius: 100%;
  border: node;
  padding: 15px;
  background-color: #24303c;
}

.palet {
  padding: 30px;
  background-color: hsl(213, 19%, 18%);
  width: 350px;
  border-radius: 16px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  background-image: radial-gradient(circle at top, #191e27, #242932);
}

#result {
  font-size: 18px;
  background-color: #24303c;
  color: hsl(25, 97%, 53%);
  border-radius: 20px;
  padding: 10px;
  margin: 10%;
  white-space: nowrap;
}

#Thanks > .palet {
  padding: 35px;
}

.desc {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
}

h1 {
  color: hsl(0, 0%, 100%);
}

#float-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.float-child {
  float: left;
  border-radius: 100%;
  padding: 15px;
  background-color: #24303c;
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: 16px;
  /* margin: 5% 5% 10% 0%; */
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.float-child:hover {
  background-color: hsl(216, 12%, 54%);
  color: white;
  transition: 0.7s;
}

.float-child:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button-selected {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit-button {
  display: block;
  border-radius: 50px;
  width: 100%;
  padding: 15px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  letter-spacing: 3px;
  margin-top: 10%;
  margin-right: 10%;
  border: none;
  cursor: pointer;
}
.submit-button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

footer {
  font-size: 18px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  text-align: center;
  padding-top: 100px;
}
